    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Authentication</title>
    {{/* <link rel="stylesheet" type="text/css" href="/public/stylesheets/main.css"> */}}
</head>
<body>
    <div class="container-fluid d-flex w-100 h-100 text-center mx-auto flex-column" >
        <header>
            <div>
                <h2 class="head">Authentication main page</h2>
            </div>
        </header>
            <div class="card-footer border-0">
                <p>This page aimes to provide a little light in your authentication darkness. </p>
                <p>Slice of person passed in as Json {{.}}</p>
            </div>
    </div>    
</body>