    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Registration</title>
    {{/* <link rel="stylesheet" type="text/css" href="/public/stylesheets/main.css"> */}}
</head>
<style>
    #input {
        text-align: left;
        margin-top: 20px;
    }
    button {
        color: red;
    }
</style>
<body>
    <div class="container-fluid d-flex w-100 h-100 text-center mx-auto flex-column" >
        <header>
            <div>
                <h2 class="head">Main Page</h2>
            </div>
        </header>
            <div class="card-footer border-0">
                <p>Cookie value: {{.Cookie}}</p>
                <p>Message:{{.Message}}</p>
                
            </div>
            <p> Register: </p>
            <div>
                <form action="/register" method="POST">
                    <div id="input">
                        <label for="email">email:</label><br>
                        <input name="email" type="email" id="email" required >
                    </div>
                    <div id="input">
                        <label for="first">First Name:</label><br>
                        <input name="first" type="text" id="first" placeholder="First Name" required>
                    </div>
                    <div id="input">
                        <label for="password">password:</label><br>
                        <input name="password" id="password" type="password" required> 
                    </div>
                    <div id="input">
                        <label for="age">age:</label><br>
                        <input name="age" id="age" type="text">
                    </div>
                    <div id="input"><br>
                        <button type="submit"> Register </button>
                    </div>
                </form>
            </div>
            <p> Login: </p>
            <div>
                <form action="/login" method="POST">
                    <div id="input">
                        <label for="email">email:</label><br>
                        <input name="email" type="email" id="email" required >
                    </div>
                    <div id="input">
                        <label for="email">password:</label><br>
                        <input name="password" id="password" type="password" required>
                    </div>
                    <div id="input"><br>
                        <button type="submit"> Login </button>
                    </div>
                
                </form>
                <div>
                    <form action="/logout" method="POST">
                        <div id="input"><br>
                            <button type="submit"> Logout </button>
                        </div>
                    </form>
                </div>
                <div>
                    <form action="/oauth2/github/login" method="POST">
                        <div id="input"><br>
                            <button type="submit"> Login with Github </button>
                        </div>
                    </form>
                </div>
                 <div>
                    <form action="/oauth2/amazon/login" method="POST">
                        <div id="input"><br>
                            <button type="submit"> Login with Amazon </button>
                        </div>
                    </form>
                </div>
            </div>
    </div>    
</body>