    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>OAuth2 Registration</title>
    {{/* <link rel="stylesheet" type="text/css" href="/public/stylesheets/main.css"> */}}
</head>
<style>
    #input {
        text-align: left;
        margin-top: 20px;
    }
    button {
        color: red;
    }
</style>
<body>
    <div class="container-fluid d-flex w-100 h-100 text-center mx-auto flex-column" >
        <header>
            <div>
                <h2 class="head">Registration Page</h2>
            </div>
        </header>
            <div class="card-footer border-0">
                {{/* <p>Message: {{.Message}}</p> */}}
                <p>You are registering from: {{.Provider}}</p>
            </div>
        <p> Oauth2 Register: </p>
        <div>
            <form action="/oauth2/register" method="POST">
                <div id="input">
                    <label for="email">email:</label><br>
                    <input name="email" type="email" id="email" value={{.Email}} required >
                </div>
                <div id="input">
                    <label for="first">First Name:</label><br>
                    <input name="first" type="text" id="first" value={{.Name}} required>
                </div>
                <div id="input">
                    <label for="age">age:</label><br>
                    <input name="age" id="age" type="text">
                </div>
                <div id="input">
                    <input name="id" id="id" type="hidden" value={{.ID}}>
                </div>
                <div id="input">
                    <input name="terms" id="terms" type="checkbox" required>
                    <label for="terms">Agree to terms of service:</label><br>
                </div>
                <div id="input"><br>
                    <button type="submit"> Register </button>
                </div>
            </form>
        </div>           
    </div>    
</body>